<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Sample08</title>
</head>
<body>
    <div id="app">
        <app-nav></app-nav>
        <app-view>
            <app-sidebar></app-sidebar>
            <app-content></app-content>
        </app-view>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        Vue.component('app-nav', {
            template: '<div>Nav</div>'
        })

        Vue.component('app-view', {
            template: '<div>View</div>'
        })

        Vue.component('app-sidebar', {
            template: '<div>SideBar</div>'
        })

        Vue.component('app-content', {
            template: '<div>Content</div>'
        })

        var app = new Vue({
            el: '#app'
        })
    </script>
</body>
</html>