<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Sample13</title>
</head>
<body>
    <div id="app">
        <p>
            <div v-if="type === 'A'">A</div>
            <div v-else-if="type === 'B'">B</div>
            <div v-else-if="type === 'C'">C</div>
            <div v-else>Not A/B/C</div>
        </p>
        <p>
            <h1 v-show="ok">Hello!</h1>
        </p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                type: '',
                ok: true
            }
        })
    </script>
</body>
</html>